<ion-header>
  <ion-toolbar>
    <ion-title>¡Bienvenido!</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="popup-content">
    <img src="https://brocal.fundacionsafa.es/brocal/v2/imgs/safa_small_new.png">
    <p>Este juego se llama "La línea temporal". Consiste en leer breves descripciones de eventos importantes en la vida de San Ignacio de Loyola y ordenarlas según ocurrieron.
    ¡Mucha Suerte!</p>
  </div>
</ion-content>
